{% extends 'base.html' %}

{% block head %}
<h1>Template</h1>
{% endblock %}


{% block body %}

{% for bar in barber %}
<div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg"> 

   <div class="px-6 py-4">

      <h2 class="text-3xl font-semibold text-gray-800">{{ bar.name }}</h2>
      <p class="my-3 leading-normal text-gray-700">{{ bar.id }}</p>
      <p class="my-3 leading-normal text-gray-700">{{ bar.description }}</p>
   </div>
   <div class="flex items-center justify-between p-4">
      <a href="#" class="px-4 py-2 bg-red-600 text-green-50 hover:bg-red-300">Book
         Now!</a>


   </div>
</div>

 {% endfor %}
{% endblock %}